{% extends 'app.html' %}
{% load static %}
{% block body %}
    <div>
        <div class="alert alert-info">Todos los libros</div>
        <a href="#" id="add_book" class="btn btn-success">Agregar libro</a>
        <button id="show_book" type="button" style="display:none;" class="btn btn-success"><span
                class="glyphicon glyphicon-circle-arrow-left"></span> Volver
        </button>
        <div id="book_table">
            <table id="table" class="table table-bordered">
                <thead class="alert-success">
                <tr>
                    <th>Título</th>
                    <th>Categoría</th>
                    <th>Autor</th>
                    <th>Descripción</th>
                    <th>Disponibles</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                {% for books in book %}
                    <tr>
                        <td>{{ books.name }}</td>
                        <td>{{ books.category }}</td>
                        <td>{{ books.author }}</td>
                        <td>{{ books.description }}</td>
                        <td>{{ books.available }}</td>
                        <td><a class="btn btn-danger delete-book" href="#" data-id="{{ books.pk }}"><span
                                class="glyphicon glyphicon-remove"></span> Borrar</a>
                            <a href="#" data-id="{{ books.id }}" class="btn btn-warning editButton">
                                <span class="glyphicon glyphicon-edit"></span> Editar</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <input type="text" style="display:none" id="idBook" value="">

        <div id="edit_form" style="display:none;">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
              <form id="form" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                      <label>Título</label>
                      <input type="text" id="titleEdit" required="required" class="form-control"/>
                  </div>
                  <div class="form-group">
                      <label>Descripción</label>
                      <input type="text" id="descriptionEdit" name="description" class="form-control"/>
                  </div>
                  <div class="form-group">
                      <label>Categoría</label>
                      <select class="form-control" id="categoryEdit">
                          {% for categories in category %}
                              <option value='{{ categories.id }}'>{{ categories.name }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Autor</label>
                      <input type="text" id="authorEdit" class="form-control" />
                  </div>
                  <div class="form-group">
                      <label>Disponibles</label>
                      <input type="number" min="0" id="quantityEdit" class="form-control"/>
                  </div>
                  <div class="form-group">
                      <a id="saveEditedBook" class="btn btn-success"><span
                              class="glyphicon glyphicon-save"></span>
                          Guardar Cambios
                      </a>
                  </div>
              </form>
          </div>
        </div>

        <div id="newBook" style="display: none;">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form id="form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Título</label>
                        <input type="text" id="name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <input type="text" id="description" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Categoría</label>
                        <select class="form-control" id='category_id'>
                            {% for categories in category %}
                                <option value='{{ categories.id }}'>{{ categories.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Autor</label>
                        <input type="text" id="author" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Disponibles</label>
                        <input type="number" min="0" id="quantity" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <a id="createBook" class="btn btn-success"><span
                                class="glyphicon glyphicon-save"></span>
                            Crear
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
        $(document).ready(function () {
            $('#add_book').click(function () {
                $(this).hide();
                $('#show_book').show();
                $('#book_table').slideUp();
                $('#newBook').slideDown();
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'js/books/CRUD.js' %}"></script>

{% endblock %}
