<div id="sidebar-wrapper">
    <aside id="sidebar">
        <ul id="sidemenu" class="sidebar-nav">
            <li>
                <a href="{% url 'books_home' %}">
                    <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                    <span class="sidebar-title">Inicio</span>
                </a>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
                    <span class="sidebar-icon"><i class="fa fa-users"></i></span>
                    <span class="sidebar-title">Cuentas</span>
                    <b class="caret"></b>
                </a>
                <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
                    <li><a href="{% url 'students_home' %}">Estudiantes</a></li>
                    <li><a href="{% url 'teachers_home' %}">Docentes</a></li>
                </ul>
            </li>
            <!-- <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
                    <span class="sidebar-icon"><i class="fa fa-newspaper-o"></i></span>
                    <span class="sidebar-title">Acciones</span>
                    <b class="caret"></b>
                </a>
                <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
                    <li><a href="#">Prestamos</a></li>
                    <li><a href="#">Retornos</a></li>
                </ul>
            </li> -->
            <li>
                <a href="{% url 'books_home' %}">
                    <span class="sidebar-icon"><i class="fa fa-database"></i></span>
                    <span class="sidebar-title">Libros</span>
                </a>
            </li>
            <li>
                <a href="{% url 'categories_home' %}">
                    <span class="sidebar-icon"><i class="fa fa-database"></i></span>
                    <span class="sidebar-title">Categorias</span>
                </a>
            </li>
        </ul>
    </aside>
</div>
